<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>인스타그램 클론</title>
    <!--config-->
    <th:block th:replace="fragments/config :: configFragment"></th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
<!--인기 게시글-->
<main class="popular">
    <div class="exploreContainer">

        <!--인기게시글 갤러리(GRID배치)-->
        <div class="popular-gallery">

            <th:block th:each= "image : ${images}">
                <div class="p-img-box">
                    <a th:href="@{/user/}+${image.user.id}">
                        <img th:src="@{/upload/}+${image.postImageUrl}" />
                    </a>
                </div>
            </th:block>

        </div>

    </div>
</main>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>
</html>