<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>인스타그램 클론</title>
    <!--config-->
    <th:block th:replace="fragments/config :: configFragment"></th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<!--프로필셋팅 메인-->
<main class="main">
    <!--프로필셋팅 섹션-->
    <section class="setting-container">
        <!--프로필셋팅 아티클-->
        <article class="setting-content">

            <!--프로필셋팅 아이디영역-->
            <div class="content-item-01">
                <div class="item-img">
                    <img src="/upload/${principal.user.profileImageUrl}" onerror="this.src='/images/person.jpeg'" />
                </div>
            </div>
            <!--프로필셋팅 아이디영역end-->

            <!--프로필 수정-->
            <form id="profileUpdate"  th:onsubmit="|update(${#authentication.principal.user.id},event)|" >
                <div class="content-item-02">
                    <div class="item-title">이름</div>
                    <div class="item-input">
                        <input type="text" th:name="name" placeholder="이름"
                               th:value="${#authentication.principal.user.name}" required="required"/>
                    </div>
                </div>
                <div class="content-item-03">
                    <div class="item-title">유저네임</div>
                    <div class="item-input">
                        <input type="text" th:name="username" placeholder="유저네임"
                                th:value="${#authentication.principal.user.username}" readonly="readonly" />
                    </div>
                </div>
                <div class="content-item-04">
                    <div class="item-title">패스워드</div>
                    <div class="item-input">
                        <input type="password" name="password" placeholder="패스워드"  required="required"/>
                    </div>
                </div>
                <div class="content-item-05">
                    <div class="item-title">웹사이트</div>
                    <div class="item-input">
                        <input type="text" name="website" placeholder="웹 사이트"
                                />
                    </div>
                </div>
                <div class="content-item-06">
                    <div class="item-title">소개</div>
                    <div class="item-input">
                        <textarea name="info" id="" rows="3" th:text="${#authentication.principal.user.info}"></textarea>
                    </div>
                </div>
                <div class="content-item-07">
                    <div class="item-title"></div>
                    <div class="item-input">
                        <span><b>개인정보</b></span> <span>비즈니스나 반려동물 등에 사용된 계정인 경우에도
							회원님의 개인 정보를 입력하세요. 공개 프로필에는 포함되지 않습니다.</span>
                    </div>
                </div>
                <div class="content-item-08">
                    <div class="item-title">이메일</div>
                    <div class="item-input">
                        <input type="text" name="email" placeholder="이메일"
                               th:value="${#authentication.principal.user.email}" readonly="readonly" />
                    </div>
                </div>
                <div class="content-item-09">
                    <div class="item-title">전회번호</div>
                    <div class="item-input">
                        <input type="text" name="phone" placeholder="전화번호"
                               th:value="${#authentication.principal.user.phone}" />
                    </div>
                </div>
                <div class="content-item-10">
                    <div class="item-title">성별</div>
                    <div class="item-input">
                        <input type="text" name="gender" th:value="${#authentication.principal.user.gender}" />
                    </div>
                </div>

                <!--제출버튼-->
                <div class="content-item-11">
                    <div class="item-title"></div>
                    <div class="item-input">
                        <button>제출</button>
                    </div>
                </div>
                <!--제출버튼end-->

            </form>
            <!--프로필수정 form end-->
        </article>
    </section>
</main>
<script th:src="@{/js/update.js}"></script>
<th:block th:replace="fragments/footer" :: footerFragment></th:block>
</html>