<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <!--configFragment-->
    <th:block th:fragment="configFragment">
        <!--공통스타일-->
            <meta charset="UTF-8">
            <title>인스타그램 클론</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <link rel="stylesheet" th:href="@{/css/style.css}">
            <link rel="stylesheet" th:href="@{/css/story.css}">
            <link rel="stylesheet" th:href="@{/css/popular.css}">
            <link rel="stylesheet" th:href="@{/css/profile.css}">
            <link rel="stylesheet" th:href="@{/css/upload.css}">
            <link rel="stylesheet" th:href="@{/css/update.css}">
            <!--    <link rel="shortcut icon" href="/images/insta.jpg">-->
            <!-- Fontawesome -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
            <!-- Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <!--공통js-->
    </th:block>
</html>